body {
	font-family: 'Roboto', sans-serif; /* По умолчанию Regular */
	background-color: #FFFFFF;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
/* button {

	cursor: pointer;
} */
/*---Header шапка сайту--*/
/* .header {
}
.header-navigation {
} */
.header-navigation-logo {
	font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.accent {
	color:#4D5AE5;
}

.header-navigation-link {
	font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2E2F42;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
	color: #404BBF;
}

.address-link {
	
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
.address-link:hover,
.address-link:focus {
	color: #404BBF;
}
.text {
	
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}
/*---Header шапка сайту--*/
/*----section 1 _Hero-------*/
/* .hero {
} */
.hero-title {
	font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color:#FFFFFF;
background-color:#2E2F42;
}
.hero-btn {
	font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:#FFFFFF;
background-color:#4D5AE5;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: #404BBF;
}
/*----section 1 _Hero-------*/

/*-----section 2 _Skils-----*/
.skils-title {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
/*-----section 2 _Skils-----*/

/*-----Section 3 _Our Team-----*/
.title-grand {
	font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42
}
.title-midi {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42
}
.ourteam-title {
	font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2E2F42
}
/*-----Section 3 _Our Team-----*/
/*-----section 4 _Our Portfolio-----*/
/* .ourportfolio {

} */

/*-----section 4 _Our Portfolio-----*/
/*-----section 5 _Footer-----*/
.footer {
	background-color:#2E2F42
}
.footer-navigation-logo {
	font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
	color:#FFFFFF
}
.footer-text {
	
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#F4F4FD
}