/*
универсальный селектро
селектор id
селектор тега
селектор класу
селектор атрибуту
селектор наследия
селектор ребенка
*/
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

:root {
  --brand-color:  #4D5AE5;
  --fond-page-color: #FFFFFF;
  --logo-color:#2E2F42;
  --text-decoration-color:#434455;
  --section-page-color:#2e2f42;
  --text-decoration-footer:#E7E9FC;
}

body {
font-family:'Roboto','sans-serif';
color: var(--fond-page-color);
}
.accent {
color: var(--brand-color);
}
.logo {
    font-family: 'Raleway','Roboto', 'sans-serif';
font-weight: 900;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
color: var(--logo-color);
}
.studio-app {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--logo-color);
}
.change-color {
font-size: 16px;
line-height: 1.5;
color: var (--text-decoration-color);
}
.change-color:hover,
.change-color:focus {
    color: var(--brand-color);
}
.studio-app:hover,
.studio-app:focus {
    color: var(--brand-color);
}

.solutions {
background-color: var(--section-page-color);
}

.reklama {
font-weight: 900;
font-size: 56px;
line-height: 1.07;
text-align: center;
}
.model-btn {
background-color:var(--brand-color);
color: var(--fond-page-color);

cursor: pointer;
}
.model-bth-text {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
cursor: pointer;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.text-background-color {
    background-color: var(--fond-page-color);
}
.our-advantages {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
color: var(--logo-color);
}
.text-decoration {
font-size: 16px;
line-height: 1.5;
color: var(--text-decoration-color);
}
.our-affairs {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: var(--logo-color);
}
.text-decoration-footer {
font-size: 16px;
line-height: 1.5;
color: var(--text-decoration-footer);
}
.btn {
color: var(--brand-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
border: 1px solid var(--text-decoration-footer);
border-radius: 4px;
cursor: pointer;
}
.btn:hover,
.btn:focus {
background: var(--brand-color); 
color: var(--fond-page-color);
}
.btn-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}
.btn-text:focus {
color: var(--fond-page-color);
}
.block-footer {
    background-color: var(--section-page-color);
}
.accent-studio {
    font-family: 'Raleway';
font-weight: 900;
font-size: 18px;
line-height: 1.16;
color: #F4F4FD;
}
/*Page 1 - secion-4*/
.our-team {
background: #F4F4FD;
}